<div class="jumbotron">
	<div class="container">
		<h2>Welcome to this amazing chat application!</h2>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Donec elementum faucibus lacus, nec elementum ante varius sit amet. Integer tristique eros pulvinar tempus lobortis. Aenean at viverra leo. Mauris at pharetra justo. In fringilla nisl erat, a sollicitudin mauris tincidunt nec. Mauris vel sodales nunc, ut ullamcorper ante. Mauris cursus ipsum arcu, pretium tincidunt lorem dignissim ac. Aliquam dolor quam, finibus ut ligula cursus, dapibus consectetur arcu. Suspendisse potenti. Aenean consectetur augue sed tortor cursus, id maximus elit consequat. Praesent lobortis nulla sit amet venenatis tristique. Integer varius odio nec vehicula blandit.</p>
		-->
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">			
			{{> user/signup }}
		</div>
		<div class="col-md-6">
			
		</div>
	</div>
</div>	